body{
    background-image:url('../images/bg.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.app{
    height: 100vh;
    
}
.btn{
    width: fit-content;
}
.quote{
    width: 60%;
}
@media(max-width:767px){
    .quote{
        width: 100%;
    }
}